<div class="relative flex items-center gap-x-2.5 pt-5 pr-3 pb-0 pl-6">
  <img src="/assets/images/logo/logo.svg" class="size-8 shrink-0" alt="HMP Master logo" />

  <div class="flex min-w-0 flex-auto flex-col">
    <div class="text-on-surface text-xl leading-none font-bold tracking-wider">
      HMP MASTER
    </div>
    <div class="font-mono text-sm leading-3 font-medium tracking-tighter text-neutral-500">
      Billing System
    </div>
  </div>

  <notifications class="shrink-0" />
</div>

<navigation class="mt-8 mb-4 flex-auto" />

<div class="flex-auto"></div>

<div class="p-2">
  <user />
</div>